doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type='text/javascript', src='http://0.0.0.0:50500/socket.io/socket.io.js')
    script(type='text/javascript', src='http://0.0.0.0:50500/lodash.js')
    script(type='text/javascript', src='http://0.0.0.0:50500/cycle.js')
    script(type='text/javascript', src='http://0.0.0.0:50500/client.js')
  body
    block content
